body p {color:black;
		font-size:18px;
		line-height:130%;
		font-weight:300;}
    
body {max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		overflow-x:hidden;
		font-family:'museo-sans-condensed';}

#kicker h2 {font-family:'museo-sans-condensed';
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			background-color:#ffa500;
			clear:both;}
		
#container-fluid {padding-left:3%;
		padding-right:3%;}
		
.advert iframe {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

body a {font-weight:600;
		color:#4C7DAE;}

header ul {margin-left:auto;
			margin-right:auto;}

header li a {color:#808080;
				font-weight:400;
				font-size:16;}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {text-align:center;
	font-weight:900;
	font-size:6em;
	text-transform:uppercase;
	line-height:90%;
	margin-top:4%;
	font-family:'museo-sans-condensed';}


#deck {margin-top:0%;
		margin-bottom:3%;}

#deck p {font-size:2em;
			font-weight:500;
			text-align:center;}

#sections {margin-bottom:3%;
			margin-top:-1%;}

#sections p {font-size:1.75em;}

#nav {margin-top:0%;}

#nav p {font-size:1.5em;
			font-weight:500;}

#teaser {margin-top:2%;
			margin-bottom:5%;
			text-align:center;}

#teaser p {font-size:2em;
			font-weight:500;}

@media screen and (max-width:400px)
{#deck p {font-size:1.5em;}
#teaser p {font-size:1.5em;}}

#date h3 {font-family:'museo-sans-condensed';
		font-size:1.5em;
		color:gray;
		text-align:center;}
			
.vimeo {padding-top:5%;
		padding-bottom:4%;
		margin-left:auto;
		margin-right:auto;
		display:block;
		text-align:center;}

@media screen and (min-width:845px) and (max-width:1050px)
	{.vimeo iframe {width:680px;
	 				height:384px;}}

@media screen and (min-width:768px) and (max-width:830px)
	{.vimeo iframe {width:537px;
						height:302px;}}

@media screen and (max-width:570px)
{.vimeo iframe {display:none;}}

.firstcharacter { float: left; color: #2357DD; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px;}

#credits p {font-size:1.2em;}

#credits h4 {font-weight:600;
				font-family:'museo-sans-condensed';
				text-transform:uppercase;}

#credits {margin-bottom:5%;}

@media screen and (max-width:767px)
{#frontpages {display:none;}}

 /* Custom "shareline" quote */
    .custom-tweet-button a {
        display: block;
        background: url('http://www.trbimg.com/img-5196b275/turbine/la-tweet-blue-bird-logo-20130517/40x40') 1px center no-repeat;
        margin: 20px 0 0 0;
        padding: 0 0 0 40px; 
        font-size: 16px;
        height: 30px;
        cursor: pointer;}
    .share-quote:hover {cursor:pointer;}
    .share-quote:hover a {text-decoration:underline;}
    
    .quote {font-size:24px; 
       			width:245px; 
       			padding: 20px 20px 20px 25px; 
       			margin: 10px 0px 10px 20px; 
       			border-top: 3px solid #e2e2e2; 
       			border-bottom: 3px solid #e2e2e2; 
       			background: url(http://www.latimes.com/media/graphic/2011-07/63504926.png) no-repeat 0 22px;
       			line-height: 1.3em;
       			border-left:none;}

footer p {font-size:14px;}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.social {margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-bottom:5%;
				margin-top:3%;}

.social img {display:inline;
				width:50px;}

#icons {text-align:center;}

#interactivetitle h3 {text-transform: uppercase;
						font-family: "museo-sans-condensed";
						font-size:2.3em;}

#square1 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#76F335;
						margin-right:10px;}

#square2 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#95C3DA;
						margin-right:10px;}

#map {margin:0;
		width:900px;
		height:600px;}

@media screen and (max-width:899px)
{#map {width:700px;
		height:466px;}}

@media screen and (max-width:699px)
{#map {width:500px;
		height:333px;}}

@media screen and (max-width:499px)
{#map {width:280px;
		height:186px;}}

#dropdown select {font-weight:700;}

#label h2{font-family:"museo-sans-condensed";
			text-align:center;
			text-transform:uppercase;
			color:#007bb0;
			margin-top:4%;
			font-weight:700;
			margin-bottom:0;
			line-height:100%;}

#sectiontitle h1 {font-size:5em;
					text-transform:none;
					margin-bottom:3%;
					font-weight:300;
					margin-top:2%;}

@media screen and (min-width:331px) and (max-width:410px)
{#sectiontitle h1 {font-size:3.5em;}}

@media screen and (max-width:330px)
{#sectiontitle h1 {font-size:3em;}}

#story {font-family: Georgia;}

#story img {margin-top:4%;
			margin-bottom:5%;}

.insidebyline {font-family: "museo-sans-condensed";
					font-weight:700;
					font-size:1.1em;}

#story p {padding-right:10%;}

#interactivelink {background-color:#e8e8e8;
					text-align:center;
					margin-bottom:3%;
					padding:1.5%;
					margin-top:5%;}

@media screen and (max-width:700px)
{#interactivelink {margin-bottom:7%;}}

#interactivelink h4 {font-family:"museo-sans-condensed";
						text-transform:uppercase;
						font-size:2em;
						line-height:110%;}

#insideicons {margin-bottom:5%;}

#commentquestion {background-color:#007bb0;
					padding:1%;
					font-family: "museo-sans-condensed";
					text-align:center;
					margin-top:3%;
					margin-bottom:3%;
					margin-right:10%;}

#commentquestion h4 {text-transform:uppercase;
						color:white;
					font-family: "museo-sans-condensed";
					font-weight:700;
					font-size:1.75em;}

#commentquestion p {color:white;
					font-weight:500;}

#questionforcomments {text-align:center;
						border-top: 1px solid black;}

#questionforcomments h4 {color:#007bb0;
							font-family: "museo-sans-condensed";
							font-weight:700;
							padding-top:2%;
							font-size:2.5em;
							line-height:120%;}

@media screen and (max-width:330px)
{#questionforcomments h4 {font-size:1.75em;}}

#centergraphic {margin-top:4%;
				margin-bottom:4%;}

#gif img {margin-top:3%;}

#ocean img {margin-top:2%;}

.subhead {font-weight:700;}

#documentary {margin-left:auto;
				margin-right:auto;
				text-align:center;
				display:block;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px)
{#my-ndn-player {margin-top:4%;
		margin-bottom:4%;}}

@media screen and (max-width:700px)
{.elevation img {display:none;}}

@media screen and (max-width:700px)
{.canalsbig img {display:none;}}

@media screen and (min-width:701px)
{.canalsmall img {display:none;}}